@media (max-width: 430px) {
  body{
    width: 90%;
  }
  .area-texto{
    width: 90%;
  }
  button{
    width: 90%;
    padding: 1em;
  }
  .button-desencriptar{
    background-color: #f7f7fd;
  }
  .muneco{
    display: none;
  }
  }