@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
body{
  margin: 0 auto;
  background-color: #f7f7fd;
  font-family: 'Inter', sans-serif;
}
header img{
  padding: 3em 2em;
}
.principal{
  text-align: center;
}
.area-texto{
  background-color: #f7f7fd;
  padding: 0 1em;
  border: none;
  resize: none;
  font-size: 2em;
  color: #0A3871;
  box-shadow: none;
}
.area-texto:focus{
  outline: none;
}
.aviso{
  padding: 1em 0;
  text-align: left;
  margin: 10px 0 5px 20px ;
}
.aviso img{
  display: inline-block;
  margin-right: 5px;
}
.aviso p{
  display: inline;
  color: #495057;
  font-size:1em;
  vertical-align: top;
}
button{
  margin-bottom: 1.5em;
  font-size: 1.2em;
  border: 2px solid #0A3871;
  border-radius: 30px;
}
button:hover{
  cursor: pointer;
  opacity: 0.7;
}
.principal button:active{
  font-size: 1.3em;
}
#button-encriptar{
  color: white;
  background-color: #0A3871;
}
.button-desencriptar{
  color: #0A3871;
}
.area-respuesta{
  margin: 1.5em;
  padding: 3em 1.5em;
  background-color: #fff;
  text-align: center;
  border-radius: 35px;
  color: #343A40;
  box-shadow: 2px 10px 10px #38383816;
}
.mensaje-no-encontrado{
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
}
#copiar{
  width: 98%;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0.8em;
  color: #0A3871;
  background-color: #fff;
  display:none;
}
